*{
    box-sizing: border-box;
    margin: unset;
    padding: unset;

}
li{
    list-style: none;
}

.calc{
    /* variable  */
    --calc-width:350px;
    border: 1px solid #000;
    width: var(--calc-width);
    height:600px;
    border-radius: 25px;
    margin: 25px auto;
    padding: 25px 15px;
    position: relative;

    
}
.calc__disp{
     --disp-width:320px;
    border: 1px solid #000;
    width: var(--disp-width);
    height: 450px;
    vertical-align:center;
    position: absolute;
    margin: 0 auto;
    left: calc((var(--calc-width) - var(--disp-width)) /2 );
    top:50%;
    transform: translateY(-50%);
    display: grid;
    grid-template-rows: 20% 80%;
    gap:5px;
    background: black;
}
.disp__view{
    border: 1px solid #000;
}
.disp__btn{
    border: 1px solid #dd1b1b;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    /* margin: 0 auto; */
    justify-content: center;
    /* align-content: center; */
    /* align-items: center; */ 
    /* ali*/
    align-items: center;
    justify-items: center;
    padding: 5px;
}
.disp__btn>li{
    border: 1px solid #000;
    padding: calc(25% /2);
    text-align: center;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #a18e8ebe;
    color:beige;
    font-size: 1.5em;
    /* tra */
    
}